* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273549;
}

.container {
    width: 550px;
    height: 550px;
    background-color: #ECFDF5;
    padding-left: 75px;
    padding-right: 75px;
}

h1 {
    width: 351px;
    height: 40px;
    font-size: 40px;
    font-family: "Karla", serif;
    font-weight: 800;
    color: #2B283A;
    margin-left: 0;
    margin-top: 80px;
    margin-bottom: 0
}

h2 {
    width: 389px;
    height: 40px;
    font-size: 40px;
    font-family: "Karla", serif;
    font-weight: 800;
    color: #10B981;
    margin: 0;
}

p {
    width: 450px;
    height: 28px;
    font-size: 23px;
    font-family: "Inter", serif;
    color: #6B7280;
}

button {
    width: 215px;
    height: 42px;
    background-color: #10B981;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Inter", serif;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    width: 520px;
    background-color: #D5D4D8;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 30px;
}

input {
    width: 240px;
    height: 39px;
    background-color: #273549;
    color: #5DEF92;
    font-size: 16px;
    font-family: "Inter", serif;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
}


/* Responsive Design for Mobile */
@media (max-width: 600px) {
    .teams-container h1 {
        font-size: 1.5rem;
    }

    .teams-container p {
        font-size: 2rem;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .container {
        padding: 10px; /* Reduce padding on smaller screens */
    }
}